
*{
    margin: 0;
    padding: 0;
    /* temp color */
    /* color:rgb(112, 0, 0); */
}
.biggest-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.all{
  height: 1684px;
  width: 1190px;
 
}

.label42{
    height: 417px;
    width: 959.88px;

}
#label-image{

    width: 407.9px;
    height: 387px;
}

.top{
    width: 1190px;
    height: 1140px;
    background-image: url(src/bg-black-top.png);
    padding: 65px 114.5px 0 115px;
    box-sizing: border-box;

}
.down{
    width: 1190px;
    height: px;
    background-image: url(src/bg-down-black.png);
}
.label-box{
    display: flex;
    justify-content: space-between;
    height: 417px;

   
   
}
#logo{
    margin-bottom: 30px;
    width: 407.9px;
    height: 387px;
}

.textbox, p{

  
    overflow-wrap: break-word;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 34px;
    line-height: 1.235;
    color: #D9D9D9;
    
}
.algo{
    position: absolute;
     margin-top: 330px
}
.sertifikat{
  
    margin: 0 0 30px 0px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 147.2px;
    letter-spacing: 10.3px;
    color: #FFFFFF;
}
.jasur{
    position: relative;
    margin-bottom: 24px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;

}
.given-to{
    position: relative;
    margin: 0 0px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 24px;
   
}
.white{
    position: relative;
    margin: 0 0px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 26px;
    color: white;
}
.yello{
    color: goldenrod;
}
.qr-code{
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
    margin: 2px;
    background-color: #FFFFFF;

}
#yago{
    position: absolute;
}
#imzo-romlari{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 250px 115px 85px 115px;
    height: fit-content;
    box-sizing: border-box;
}
.biggest-box{
    height: 100vh;
}
.certification{
    font-size: 56px;
}

